@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background: black;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  overflow: hidden;
}